@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;700;900&family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&display=swap");
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container-fluid {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "cairo", sans-serif;
}

.header-title {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.header-title h1 {
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid #146C94;
  border-radius: 20px;
  display: inline-block;
  padding: 15px;
}

.home {
  height: 100vh;
  position: relative;
  background-color: #e7e7e7;
  background-image: url("./photos/black-background-design.jpg");
}
.home .container-fluid .content {
  margin: auto;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  height: 100vh;
}
.home .container-fluid .content .links {
  position: fixed;
  left: 3%;
}
.home .container-fluid .content .links li {
  padding-top: 20px;
  padding-bottom: 20px;
}
.home .container-fluid .content .links li a {
  position: relative;
  overflow: hidden;
}
.home .container-fluid .content .links li a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #146C94;
  border-radius: 50%;
  left: 0px;
  transform: translatey(40%);
  cursor: pointer;
  overflow: hidden;
  top: 0px;
}
.home .container-fluid .content .links li a:hover::before {
  width: 20px;
  height: 20px;
  left: -10px;
  outline: 3px solid #F8CBA6 !important;
}
.home .container-fluid .content .links li a:hover .text-link {
  opacity: 1;
  visibility: visible;
  text-decoration: none;
  left: 5%;
  opacity: 1;
  visibility: visible;
}
.home .container-fluid .content .links li a .text-link {
  opacity: 0;
  visibility: hidden;
  margin-left: 15px;
  text-decoration: none;
  position: relative;
  left: -50%;
  transition: 0.3s;
  color: rgb(233, 43, 122);
  font-size: 30px;
}
.home .container-fluid .content .links li a .text-link:hover {
  text-decoration: none;
}
.home .container-fluid .content .links li a .text-link.active {
  opacity: 1 !important;
  visibility: visible !important;
  left: 5% !important;
  color: rgb(233, 43, 122);
}
.home .container-fluid .content .text {
  margin-left: 150px;
  color: white;
}
.home .container-fluid .content .text h1 {
  font-weight: 700;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  100% {
    border-color: orange;
  }
}
.home .container-fluid .content .text p.title {
  font-size: 20px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation-delay: 1.6s !important;
  animation: typing_p 2s steps(40, end), blink-caret 0.75s step-end forwards;
}
@keyframes typing_p {
  from {
    width: 0;
    visibility: visible;
    opacity: 1;
  }
  100% {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.home .container-fluid .content .img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .container-fluid .content .img img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.Skills {
  margin-bottom: 50px;
  padding-top: 10px;
}
.Skills .img {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 200px));
  margin-left: 150px;
  align-items: center;
  justify-content: center;
}
.Skills .img .img-1 {
  border: 1px solid #F8CBA6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 0px 10px 1px rgba(136, 136, 136, 0.4588235294);
  max-width: 300px;
}
.Skills .img .img-1 img {
  width: 100%;
}
.Skills .img .img-1 .text {
  text-align: center;
  margin-bottom: 20px;
}
.Skills .img .img-1:hover {
  transform: scale(1.04);
}

.gallary {
  background-color: #e7e7e7;
  padding-top: 10px;
  padding-bottom: 50px;
}
.gallary .videos {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(451px, 842px));
  margin-left: 150px;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  background-color: #F8CBA6;
  text-align: center;
  padding: 20px;
}
.contact .footer {
  padding-top: 20px;
}
.contact .footer .icon {
  padding: 5px;
}
.contact .footer .icon i {
  padding: 5px;
}
.contact .end {
  font-size: 10px;
}
.contact .end .copy span {
  color: rgb(233, 43, 122);
  padding-left: 5px;
}/*# sourceMappingURL=main.css.map */